*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#first
{
	width:500px;
	margin:0 auto;
	background:white;
	padding:5px;
	border-radius:10px;
	border:1px solid #2c3e50;
}
.avatar
{
	width:100px;
	text-align:center;
	border-radius:50%;
}
.myform
{
	width:450px;
	margin:0 auto;
	padding:10px;
}
.inputvalues
{
	margin:0 auto;
	padding:10px;
	width:100%;
}
#login_btn
{
	background-color:#00C853;
	color:white;
	padding:5px;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#register_btn
{
	background-color:#3F51B5;
	color:white;
	padding:5px;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/img/background.jpg");
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
   width: 120px;
   cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #3498db;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
